<?xml version="1.0" encoding="utf-8" ?>
<!-- RollingFileAppender that rolls over daily. -->
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file               value="logs\DotNetCasClient.log4net.log"/>
      <appendToFile       value="true" />
      <rollingStyle       value="Date" />
      <datePattern        value="yyyyMMdd" />
      <lockingModel       type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger{5} - %message%newline" />
      </layout>
    </appender>
    <root>
      <!-- Levels (from lowest to highest):  ALL | DEBUG | INFO | WARN | ERROR | FATAL | OFF | -->
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
