<?xml version="1.0"?>

<!--
############################################################
# NOTE:
# Use this file as a template to create a Web.config file
# suitable for your environment.  The following numbered
# sections need to be edited/reviewed:  1, 2, and 3.
############################################################
-->

<configuration>
  <configSections>
    <section name="casClientConfig" type="DotNetCasClient.Configuration.CasClientConfiguration, DotNetCasClient"/>
    <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
      <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
        <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
          <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
          <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
          <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
        </sectionGroup>
      </sectionGroup>
    </sectionGroup>
  </configSections>

  <appSettings/>
  <connectionStrings/>

  <!--
    ======================
    CAS Config #1
    ======================
    Configure basic CAS client properties.

    Required Attributes (CasAuthenticationModule or CasAlternateAuthModule):
    
    casServerLoginUrl       - URL of CAS login form.
    serverName              - Name of server hosting this application.
    casServerUrlPrefix      - URL to root of CAS server application.
    ticketValidatorName     - Name of ticket validator that validates CAS tickets using a particular protocol.
                              Valid values are Cas10, Cas20, and Saml11.

    Optional Attributes (CasAuthenticationModule or CasAlternateAuthModule):
    
    gateway                 - Enable CAS gateway feature, see http://www.jasig.org/cas/protocol section 2.1.1.
                              Default is false.
    renew                   - Force user to reauthenticate to CAS before accessing this application.
                              This provides additional security at the cost of usability since it effectively
                              disables SSO for this application.  Default is false.
    singleSignOut           - Enables this application to receive CAS single sign-out messages sent when the
                              user's SSO session ends.  This will cause the user's session in this application
                              to be destroyed.  Default is true.
    ticketTimeTolerance     - SAML ticket validator property to allow at most the given time difference in ms
                              between artifact (ticket) timestamp and CAS server system time.  Increasing this
                              may have negative security consequences; we recommend fixing sources of clock drift
                              rather than increasing this value.

    CasAuthenticationModule Optional Attributes:
    
    notAuthorizedUrl        - The URL to redirect to when the request has a valid CAS ticket but the user is 
                              not authorized to access the URL or resource.  If this option is set, users will
                              be redirected to this URL.  If it is not set, the user will be redirected to the 
                              CAS login screen with a Renew option in the URL (to force for alternate credential
                              collection).
    ticketManager           - The ticket manager to use to store tickets returned by the CAS server for 
                              validation, revocation, and single sign out support.  Without a ticket manager
                              configured, these capabilities will be disabled.  Valid value is CacheTicketManager.

       ****  NOTE: Additional configuration for this module is inherited from the  ****
       ****        system.web/authentication and system.web/authentication/forms   ****

    CasAlternateAuthModule Optional Attributes:

    secureUriRegex          - Regular expression describing URIs to be protected by CAS authentication.
                              Default is .* to protect all application resources with CAS. 
    secureUriExceptionRegex - Regular expression describing URIs to be specifically excluded from CAS auth.
                              This feature originated to easily exclude resources used by .NET AJAX controls.
                              The value in the following example illustrates how to ignore the resource used
                              to bootstrap AJAX controls.  Default is to have no exclusions. 
    redirectAfterValidation - Whether to redirect to the same URL after ticket validation, but without the
                              ticket in the parameter.  Default is false for CasAlternateAuthModule.
    useSession              - Use session to store CAS authenticated state and principal/attribute info.
                              Default is true.
  -->
  <casClientConfig
    casServerLoginUrl="https://cas.example.com/cas/login"
    serverName="https://localhost"
    casServerUrlPrefix="https://cas.example.com/cas/"
    gateway="false"    
    renew="false"    
    ticketValidatorName="Saml11"
    ticketTimeTolerance="5000" 
    ticketManager="CacheTicketManager"
    singleSignOut="true"    
  />
  <system.web>
    <!--
      ======================
      CAS Config #2
      ======================
      If you are using the CasAlternateAuthModule, you will need to configure
      SessionState.  The CasAuthenticationModule (Forms Authentication) does
      not require session state to function properly.
    -->
    <sessionState timeout="30" />
    <compilation debug="true">
      <assemblies>
        <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>

    <!--
      ======================
      CAS Config #3
      ======================
      Configure the authentication method used by the application.
      
      There are two basic approaches:
        1. CasAuthenticationModule - Windows Forms Authentication (WFA)
        2. CasAlternateAuthModule  - Non-WFA
      
      Use WFA if you specifically need/want the features of that authentication 
      model (UrlAuthorization, user keyed Caching, code access security with 
      PrincipalPermission, etc.).  Otherwise use the simpler non-WFA approach.
           
      For non-WFA, set mode="None"
      <authentication mode="None"/>
    -->
    <authentication mode="Forms">
      <forms loginUrl="https://fed.princeton.edu/cas/login" timeout="30" defaultUrl="~/Default.aspx" 
             cookieless="UseCookies" slidingExpiration="true" path="/example/" />
    </authentication>

    <!-- The following is only used with CasAuthenticationModule WFA authentication. -->
    <authorization>
      <allow users="*" />
    </authorization>

    <pages>
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </controls>
    </pages>

    <httpHandlers>
      <remove verb="*" path="*.asmx"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
    </httpHandlers>

    <!--
      ======================
      CAS Config #4
      ======================
      Choose a CAS authentication module.

      The authentication module determines the authentication method, discussed in #2 above,
      and must match the configuration specified in that section.  The two available authentication
      modules:
        1. CasAuthenticationModule - WFA
        2. CasAlternateAuthModule - non-WFA
    -->
    <httpModules>
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>
      <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </httpModules>
  </system.web>


  <!-- Customize the following if using CasAuthenticationModule WFA. -->
  <!--
  <location path="secure">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  -->


  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" warningLevel="4" type="Microsoft.CSharp.CSharpCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <providerOption name="CompilerVersion" value="v3.5"/>
        <providerOption name="WarnAsError" value="false"/>
      </compiler>
    </compilers>
  </system.codedom>
  <system.webServer>
    <!-- 
      The system.webServer section is required for users running IIS 7 or later.
      It is not necessary for previous version of IIS.
    -->
    <validation validateIntegratedModeConfiguration="false"/>
    <modules>
      <!--
        ======================
        CAS Config #4 (cont'd)
        ======================
        Remove the existing system.web/httpModules from the managed pipeline and 
        re-insert it.  This will allow the configuration to work in IIS 5/6 and 
        IIS 7 and beyond.  Use the same value here as you used in the 
        system.web/httpModules.
      -->
      <remove name="DotNetCasClient" />
      <add name="DotNetCasClient" type="DotNetCasClient.CasAuthenticationModule,DotNetCasClient"/>

      <remove name="ScriptModule"/>
      <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </modules>
    <handlers>
      <remove name="WebServiceHandlerFactory-Integrated"/>
      <remove name="ScriptHandlerFactory"/>
      <remove name="ScriptHandlerFactoryAppServices"/>
      <remove name="ScriptResource"/>
      <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
